
* {
    box-sizing: border-box;
}

body {
    background-color: #23252C;
    height: 100vh;
}

.card--name {
    color: #FFF;
    line-height: 0.4em;
}
.card--title {
    color: #F3BF99;
    font-weight: 400;
    line-height: 0.4em;
    margin: 0;
}
p {
    color: #DCDCDC;
}
.card {
    margin: 10px 20px;
    border-radius: 6px;
    background-color: #1A1B21;
    width: 400px;
    align-items: center;
}
.card--info {
    text-align: center;
}
.card--image {
    width: 100%;
}
.card--info > button {
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
}
.card--info> button > img {
    margin: 0;
    align-self: baseline;
}

.card--info > .card--linkedin {
    background-color: #5093E2;
    margin-left: 10px;
}
.card--about, .card--interests {
    padding: 0 30px;
}

.card--about {
    margin-top: 10px;
}
.about--title {
    color: #f5f5f5;
    line-height: 0.4em;
}

.interests--title {
    color: #f5f5f5;
}

footer {
    margin-top: 50px;
    padding: 10px;
    text-align: center;
    background-color: #161619;
}
footer > img {
    margin-left: 15px;
}